
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #444;
    padding: 15px 0;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}


button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}


input, select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: calc(100% - 22px); 
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}


#cats-container, #users-container, #anime-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}


#cats-container {
    background-color: #f0f8ff;
    border: 2px solid #b0e0e6;
    border-radius: 8px;
}

#users-container {
    background-color: #fff0f5;
    border: 2px solid #ffc0cb;
    border-radius: 8px;
}

#anime-container {
    background-color: #f5f5dc;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

img {
    max-width: 100%;
    border-radius: 8px;
}


